<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.study.springboot.dao.ISearchDao">
	
	<!-- 삭제 예정
	<select id="findProductsByKeyword" resultType="com.study.springboot.dto.PDto">
        SELECT * 
	    FROM product 
	    WHERE pd_name as pdNum LIKE '%' || #{sKeyword} || '%'
    </select>
	 -->
	 
    <select id="findBoardsByKeyword" resultType="com.study.springboot.dto.BoardDto">
        SELECT * 
	    FROM BOARD 
	    WHERE bd_state = 'Y' 
	      AND (bd_writer LIKE '%' || #{sKeyword} || '%'
	           OR bd_title LIKE '%' || #{sKeyword} || '%'
	           OR bd_content LIKE '%' || #{sKeyword} || '%')
    </select>
	
</mapper>